// Variables
    //Colors
    $turquoise-blue-title : #17BEBB;
    $purple : #870058;
    $purple-light : #d134b7;
    $yellow : #FFBA08;
    $blue-section : #1c8c81;
    $txt-dark : #071326;
    $txt-white : #F4F6FB;
